.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-item.completed .todo-text {
  text-decoration: line-through;
  opacity: 0.6;
}

.close-badge {
  cursor: pointer;
}
/* INPUT */
input.form-control {
  min-width: 250px;
}